@import "variables";
@import "mixins";

@include googleFonts("Roboto:ital,wght@100;400;700");
@include googleFonts("Whisper");

body,
p {
    font-family: 'roboto', sans-serif;
}

h1,
h2,
#brand {
    font-family: 'Whisper', sans-serif;
}

// Header
#toggleMenu {
    a {
        transition: .1s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}

#connection__btn-icon {
    transition: 0.1s ease-in-out;

    &:hover {
        transform: scale(1.1);
    }
}

// Home
#home__news p,
#home__comments p {
    border-radius: 15px;
}

// Connection
#form {
    border: solid 1px black;
    border-radius: 15px;
}