@import "variables";
@import "mixins";
@import "mediaQueries";

@include googleFonts("Roboto:ital,wght@100;400;700");
@include googleFonts("Whisper");

body,
p {
  font-family: 'roboto', sans-serif;
}

h1,
h2,
#brand {
  font-family: 'Whisper', sans-serif;
}

.zoom {
  transition: .1s;
  &:hover {
    opacity: .8;
  }
  &:active {
    opacity: initial;
    transform: scale(2) translate(15%);
  }
}

// Home
.home__content p {;
  border-radius: 15px;
}