<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="../public/design/css/base.css">
    <title>
        <?= $title ?>
    </title>
</head>

<body class="d-flex flex-column min-vh-100" data-bs-spy="scroll" data-bs-target="#menu">

    <header>
        <nav class="d-flex navbar navbar-dark bg-dark navbar-expand-md fs-4" aria-label="" id="menu">
            <div class="container">
                <div id="brand" class="navbar-brand fs-1">
                    Les Eternels Compagnons
                    <p class="text-white fs-7">
                        Un site pour les passionnés de Jeux de rôles et de fantasy.
                    </p>
                </div>

                <div class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#toggleMenu">
                    <span class="navbar-toggler-icon"></span>
                </div>

                <div class="collapse navbar-collapse justify-content-end" id="toggleMenu">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="view/homeView.php" class="nav-link">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a href="view/rolePlayingView.php" class="nav-link">JDR</a>
                        </li>
                        <li class="nav-item">
                            <a href="view/galleryView.php" class="nav-link">Galerie</a>
                        </li>
                        <li class="nav-item">
                            <a href="view/contactView.php" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
                <button id="connection__btn-icon" type="button" class="btn" data-bs-toggle="modal"
                    data-bs-target="#connection__modal">
                    <span class="fa-regular fa-user" style="color:#ffffff"></span>
                </button>

                <div class="modal fade" id="connection__modal" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered">

                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    <span class="visually-hidden">Fermer</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form action="#" method="post">
                                    <div class="mb-3">
                                        <label for="pseudo__connection" class="form-label">Pseudo</label>
                                        <input type="text" class="form-control" id="pseudo__connection"
                                            name="pseudo__connection" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password__connection" class="form-label">Mot de passe</label>
                                        <input type="password" class="form-control" id="password__connection"
                                            name="password__connection" required>
                                    </div>
                                    <div class="mb-3">
                                        <button id="submit__connection" type="submit"
                                            class="btn border-black btn-outline-dark">Se
                                            connecter</button>
                                        <button type="submit" class="btn btn-outline-success" data-bs-toggle="modal"
                                            data-bs-target="#inscription__modal">S'inscire</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal fade" id="inscription__modal" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered">

                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal">
                                    <span class="visually-hidden">Fermer</span>
                                </button>
                            </div>

                            <div class="modal-body">
                                <form action="#" method="post">
                                    <div class="mb-3">
                                        <label for="pseudo__inscription" class="form-label">Pseudo</label>
                                        <input type="text" class="form-control" id="pseudo__inscription"
                                            name="pseudo__inscription" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="email" class="form-label">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="password__inscription" class="form-label">Mot de passe</label>
                                        <input type="password" class="form-control" id="password__inscription"
                                            name="password__inscription" required>
                                    </div>
                                    <div class="mb-3">
                                        <button id="submit__inscription" type="submit"
                                            class="btn border-black btn-outline-dark">S'inscire</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="container d-flex flex-grow-1">
        <section id="home__content">
            <section id="home__intro" class="w-100 pt-5">
                <h1 class="text-center">Bienvenue sur mon blog !</h1>

                <p class="fs-4 p-5">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Et ea quibusdam veniam dolorem! Asperiores maiores aliquid exercitationem,
                    labore voluptates distinctio, dolore ut temporibus debitis
                    explicabo nihil repellat aut hic totam?
                </p>
            </section>
            <div class="row col-md-12 g-5 pt-5">
                <div id="home__news" class="col-md-6 me-md-5 ms-md-5">
                    <h2 class="fw-bold">Les dernières news :</h2>
                    <p class="bg-tertiary p-3">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, eius temporibus aspernatur
                        minus, ullam facilis delectus iste repellat iure quam accusamus qui officia maxime rem aliquam
                        nostrum impedit! Asperiores, deserunt!
                    </p>
                </div>
                <div id="home__comments" class="col-md-4">
                    <h2 class="fw-bold">Derniers commentaires :</h2>
                    <p class="bg-tertiary p-3">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, eius temporibus aspernatur
                        minus, ullam facilis delectus iste repellat iure quam accusamus qui officia maxime rem aliquam
                        nostrum impedit! Asperiores, deserunt!
                    </p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="text-center p-3 bg-body-secondary">
            &copy;copyrigth 2023 - Frédéric Hot
        </div>
    </footer>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/@popperjs/core/dist/umd/popper.js"></script>
</body>

</html>